<div class="item-card">
  <div class="container">
    <form [formGroup]="itemForm" (ngSubmit)="saveChanges()">
      <div class="title-container">
        <label for="item-title">Title:</label>
        <ng-container *ngIf="isEditingModeOn(); else displayModeTitle">
          <input
            type="text"
            id="item-title"
            name="item-title"
            class="item-input"
            value="itemDetails.itemTitle"
            formControlName="title"
          />
        </ng-container>
        <ng-template #displayModeTitle>
          <h4>{{ itemDetails.itemTitle }}</h4>
        </ng-template>
      </div>
      <div class="item-details-container">
        <ng-container *ngIf="isEditingModeOn(); else displayModeStatus">
          <span>Move To:</span>
          <select
            name="currentStatus"
            id="currentStatus"
            formControlName="status"
          >
            <option value="toDo">TO-DO</option>
            <option value="inProgress">IN-PROGRESS</option>
            <option value="completed">COMPLETED</option>
          </select>
        </ng-container>
        <ng-template #displayModeStatus>
          <span>Current:</span>
          <span
            [ngClass]="{
              'badge-todo': itemDetails.itemCurrentState == 'toDo',
              'badge-progress': itemDetails.itemCurrentState == 'inProgress',
              'badge-completed': itemDetails.itemCurrentState == 'completed'
            }"
            >{{ itemDetails.itemCurrentState }}</span
          >
        </ng-template>
      </div>
      <div class="edit-controls-container">
        <ng-container *ngIf="isEditingModeOn(); else displayModeEdit">
          <button class="save-button" type="submit">Save</button>
          <span style="color: red; cursor: pointer" (click)="cancelChanges()"
            >Cancel
          </span>
        </ng-container>
        <ng-template #displayModeEdit>
          <i class="fa-solid fa-pen-to-square" (click)="editingModeOn()"></i>
        </ng-template>

        <i class="fa-solid fa-trash" (click)="deleteItem()"></i>
      </div>
    </form>
  </div>
</div>
